# Ignore every file
*

# Allow Git to traverse directories
!*/

# Keep this file
!./.gitignore

# Files you want included
!BigData/hadoop-3.5.0/etc/hadoop/hadoop-env.sh
!.bashrc
!BigData/hadoop-3.5.0/hdfs